KITE_API_KEY=
KITE_API_SECRET=
KITE_ACCESS_TOKEN=token
KITE_LAST_LOGIN=2026-03-13T02:11:27.611819+05:30
KITE_REDIRECT_URL=http://localhost:8000/callback
KITE_INSTRUMENT_TOKEN=256265
NEWS_API_KEY=
LLM_PROVIDER=gemini
GEMINI_API_KEY=
OPENAI_API_KEY=
LLM_MODEL=gemini-2.0-flash
LLM_VALIDATION_ENABLED=false
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+1415xxxxxxx
WHATSAPP_TO=whatsapp:+91xxxxxxxxxx
TWILIO_CONTENT_SID=
TWILIO_TRADE_CONTENT_SID=
